.swap-container {
  padding-bottom: 80px;

  &-header {
    color: white;
    width: 106%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px 30px;
    border-bottom: 1px solid white;

    &-left-bottom {
      font-size: 14px;
    }

    &-right {
      display: flex;
      justify-content: center;
      cursor: pointer;
      margin: 2px;
    }
  }

  .adv-img-container img {
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 100%;
    object-fit: contain;
  }
  .adv-img-2 img {
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 100%;
    object-fit: contain;
  }
  .wallet-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;

    .wallet-picker {
      position: relative;
      max-width: 30rem;
      background: #1a1a1b;
      border-radius: 50px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media screen and (max-width: 600px) {
        max-width: 25rem;
      }

      @media screen and (max-width: 450px) {
        max-width: 23rem;
      }
      @media screen and (max-width: 450px) {
        max-width: 19rem;
      }
      @media screen and (max-width: 350px) {
        max-width: 15rem;
      }

      .border-box {
        border-radius: 20px;
        border: 1px solid transparent;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        background-color: rgb(33, 36, 41);
        width: 100%;
        padding: 0.75rem 1rem;

        label {
          font-weight: 500;
          font-size: 14px;
          color: rgb(195, 197, 203);
        }
        input {
          color: rgb(255, 255, 255);
          position: relative;
          font-weight: 500;
          outline: none;
          border: none;
          background-color: rgb(33, 36, 41);
          font-size: 24px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0px;
          appearance: textfield;
          padding-right: 15px;
        }
        input:focus {
          box-shadow: none;
        }
        .btn-dropdown-from {
          -webkit-box-align: center;
          align-items: center;
          height: 2.2rem;
          font-size: 20px;
          font-weight: 500;
          background-color: rgb(33, 36, 41);
          color: rgb(255, 255, 255);
          border-radius: 12px;
          box-shadow: none;
          outline: none;
          cursor: pointer;
          border: none;
          display: flex;
          align-items: center;

          img.etch-icon {
            width: 24px;
            height: 24px;
            box-shadow: rgba(0, 0, 0, 0.075) 0px 6px 10px;
            border-radius: 24px;
          }
          span {
            margin: 0px 0.25rem 0px 0.75rem;
            font-size: 20px;
            white-space: nowrap;
          }
          svg {
            margin: 0px 0.25rem 0px 0.5rem;
            height: 35%;

            path {
              stroke: rgb(255, 255, 255);
              stroke-width: 1.5px;
            }
          }
        }
        .btn-dropdown-from:hover,
        .btn-dropdown-from:focus {
          background-color: rgb(28, 55, 85);
        }
      }
      .swap-arrow {
        background-color: transparent;
        border: none;
        box-shadow: none;
        outline: none;
        display: flex;
        padding: 0px 8px;
        margin: 15px;
        height: 20px;
      }
      .btn-token {
        -webkit-box-align: center;
        height: 2.2rem;
        font-size: 20px;
        font-weight: 500;
        background-color: rgb(255, 159, 0);
        color: rgb(255, 255, 255);
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.075) 0px 6px 10px;
        outline: none;
        cursor: pointer;
        border: none;
        padding: 0px 0.75rem;
        font-size: 16px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          margin: 2px 0.25rem 0px 0.5rem;
          height: 35%;

          path {
            stroke: rgb(255, 255, 255);
            stroke-width: 1.5px;
          }
        }
      }
      .btn-connect-wallet {
        padding: 18px;
        // width: 100%;
        // text-align: center;
        border-radius: 12px;
        // outline: none;
        border: 1px solid transparent;
        // text-decoration: none;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        // flex-wrap: nowrap;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        // position: relative;
        // z-index: 1;
        background-color: rgba(21, 61, 111, 0.44);
        color: rgb(255, 159, 0);
        font-size: 16px;
        font-weight: 500;
        margin-top: 1rem;
        // height: 75px;
      }
      .btn-connect-wallet:hover,
      .btn-connect-wallet:focus {
        background-color: rgba(19, 54, 98, 0.44);
      }
      .left-content,
      .right-content {
        display: flex;
        flex-direction: column;
        width: 95%;
      }

      &-slippage {
        width: 95%;
        display: flex;
        justify-content: space-between;
        padding: 20px 16px 0;
        color: #ff9f00;
      }
    }
  }
  .bg-shadow {
    padding-top: calc(16px + 2rem);
    padding-bottom: 20px;
    width: 100%;
    max-width: 400px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(195, 197, 203);
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
    transition: transform 300ms ease-in-out 0s;
    margin: -2rem auto 0;
  }
  .btn-back-to-home {
    position: fixed;
    display: flex;
    right: 0px;
    bottom: 0px;
    padding: 1rem;
    transition: opacity 0.25s ease 0s;
    color: rgb(39, 174, 96);

    span {
      width: 8px;
      height: 8px;
      min-height: 8px;
      min-width: 8px;
      margin-left: 0.5rem;
      margin-top: 3px;
      border-radius: 50%;
      position: relative;
      background-color: rgb(39, 174, 96);
    }
  }
}
