.navbar {
  display: flex;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  top: 0px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  // padding: 1rem;
  z-index: 2;
  background: transparent;
  background-color: #1a1a1b;
  min-height: 81px;

  &-expand-md {
    @media (max-width: 767px) {
      align-items: center;
    }
  }

  @media screen and (max-width: 767px) {
    padding: .3rem .8rem;
    min-height: 0;
    align-items: flex-start;
  }

  &-form-res {
    align-self: center;
    display: flex;
    flex: none;
    @media screen and (min-width: 1304px) {
      display: flex;
      align-self: center;
    }
    @media screen and (max-width: 767px) {
      align-self: flex-start;
    }
  }

  &-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
    }
    @media screen and (max-width: 465px) {
      width: 30%;
    }
  }

  &-flex {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 990px) {
      display: block;
    }
  }

  &-center {
    flex: 2;
    display: flex;
    justify-content: center;

    &-bg {
      display: flex;
      background: #f0f9fc;
      padding: 5px 25px;
      border-radius: 35px;

      @media screen and (max-width: 767px) {
        flex-direction: column;
        background: none;
        font-size: 1.1rem;
        margin: 0;
        padding: 0;
      }
    }

    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: space-between;
    }
  }
}
.navbar a.navbar-brand {
  width: 6%;
  @media screen and (max-width: 990px) {
    width: 7%;
  }
  @media screen and (max-width: 770px) {
    width: 12%;
  }
  @media screen and (max-width: 620px) {
    width: 15%;
  }
  @media screen and (max-width: 480px) {
    width: 20%;
  }
  img {
    width: 100%;
  }
}
.navbar a.navbar-brand:hover img {
  transform: rotate(-5deg);
  transition: transform 0.3s ease 0s;
}
.navbar-expand .navbar-nav a {
  color: black !important;
  font-weight: 500;
  border-radius: 12px;
  margin: 0px 12px;
  font-size: 1rem;
  text-decoration: none;
}
.navbar-text {
  color: black !important;

  @media screen and (max-width: 767px) {
    color: yellowgreen !important;
  }

  &:hover {
    color: yellowgreen !important;
  }
}

.navbar-expand .navbar-nav a.active {
  color: yellow !important;
  font-weight: 600;
}
